body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
  }
  
  body::-webkit-scrollbar {
    display: none;
  }

body{
    font-family: 'Montserrat', sans-serif;
    background: #141414;
}

.nav__logo{
    width: 80px;
    object-fit: contain;
}

.nav__logout {
    margin-top: 0.7em;
    padding-left: 65em;
    font-weight: 700;
    color: #F7971D;
}

.nav__logout:hover {
    color: #fafafa;
    transition: all 0.2s;
}

.nav__avatar{
    border-radius: 100%;
    width: 45px;
    object-fit: contain;
    margin-left: 1em;
    margin-right: 1.8em;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav{
    position: relative;
    top: 0;
    max-width: auto;
    padding: 25px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.container{
    box-shadow: 0px 0px 50px 15px black;
}

.video_thumbnail{
    margin-top: 3em;
    margin-left: 3em;
    max-width: 100%;
    height: auto;
    padding-bottom: 4em;
}

.desc{
    color: #fafafa;
    margin-top: 4em;
    padding-left: 5em;
}

.desc h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4em;
}

.profile__pic{
    padding: 2em;
    margin: 4em;
    margin-bottom: 8em;
    display: flex;
    max-width: 100%;
    height: auto;
    margin-top: 10%;
    background: url();
    border-radius: 100%;
}

.profileid{
    padding: 6em;
    font-size: 25px;
    color: #fafafa;
}

.tabel-col-1{
    padding-right: 4em;
}

.tabel-col-2{
    padding-right: 1em;
}

.edit-account{
    margin-top: 2em;
    font-size: 20px;
    background-color: #F7971D;
    border: 1px solid #F7971D;
    box-sizing: border-box;
    border-radius: 10px;
    color: #141414;
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.no-padding {
    padding: 0 !important;
}

/* footer */
.footer {
    background-color: black;
    color: #fafafa;
    height: 10em;
}

.footer-content {
    background-color: black;
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.footer-content h3{
    font-size: 2em;
    font-weight: 700;
}

.footer-content h3 img{
    width: 4em;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li{
    margin: 0 1em;
}

.socials a{
    text-decoration: none;
    color: #fafafa;
}

.socials a:hover{
    color:#F7971D;
}

.footer-bottom {
    font-weight: 700;
    background: #F7971D;
    width: auto;
    color: #141414;
    text-align: center;
    justify-content: center;
}

.watch-now{
    background-color: transparent;
    border: 1px solid #F7971D;
    box-sizing: border-box;
    border-radius: 100px;
    color: #fafafa;
    font-weight: bold;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.watch-now:hover{
    color: #000;
    background-color: #F7971D;
    transition: all 0.2s;
}