@font-face {
    font-family: Montserrat-Bold;
    src:url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: Montserrat-Regular;
    src:url("../fonts/montserrat.regular.ttf");
}

body{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/bg1.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 4%;
}

.box-logo {
    position: relative;
}

.check-remember-username{
    cursor: pointer;
    margin: 2vh 2vw;
    padding: 1vh 1vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #F7971D;
    font-family: Montserrat-Bold;
    font-style: normal;
    font-size: 1em;
}

.check-remember-username:hover{
    color: #fafafa;
}

/* Buat ilangin checkbox */
.check-remember-username input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check-remember-username input:checked ~ .remember-username {
    background-color: #F7971D;
}

.check-remember-username input:hover ~ .remember-username {
    border: 2px solid #fafafa;
}

/* checklist */
.check-remember-username .remember-username:after {
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid rgba(20, 20, 20, 0.9);
    border-width: 0 3px 3px 0;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.check-remember-username input:checked ~ .remember-username:after {
    display: block;
}

.input-login {
    outline: 0;
    border-width: 0 0 2px;
    color: #FFFFFF;
    background: rgba(20, 20, 20, 0.9);
    width: 27vw;
    font-family: Montserrat-Bold;
    font-style: normal;
    font-size: 1.5em;
}

.judul-form{
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 0px;
    display: flex;
    align-items: center;
    color: #F7971D;
    padding-left: 1.5vw;
}

.login-div{
    width: 33vw;
    margin: auto;
    padding-top: 3vh;
    padding-bottom: 1vh;
    
    background: rgba(20, 20, 20, 0.9);
    border-radius: 30px;
}

.login-form {
    text-align: center;
    padding: 3vw;
    padding-top: 1vh;
    position: relative;
    margin: 6% auto;
}

.logos{
    width: 10em;
    height: 5em;
}

.register-btn {
    color: #F7971D;
    text-decoration: none;
}

.register-btn:hover {
    color: #fafafa;
    text-decoration: none;
}

/* Custom Checkbox */
.remember-username{
    right: 10px;
    position: relative;
    padding: 0px 10px;
    height: 20px;
    width: 20px;
    border: 2px solid #F7971D;
    border-radius: 8px;
    background-color: rgba(20, 20, 20, 0.9);
}

.remember-username:after {
    content: "";
    position: absolute;
    display: none;
}

.remember-username:hover{
    border: 2px solid #fafafa;
}

.sign-in {
    text-align: center;
    font-family: Montserrat-Bold;
}

.signin-btn{
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
    padding-left: 8vw;
    padding-right: 8vw;
    background: #F7971D;
    border-radius: 1.5em;
    transition-property: all;
    transition-duration: 1s;
}

.signin-btn:hover{
    padding-top: 0.6vh;
    padding-bottom: 0.6vh;
    padding-left: 9vw;
    padding-right: 9vw;  
}

.signin-font{
    text-align: center;
    font-family: Montserrat-Bold;
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2.5em;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.sign-up {
    margin-top: 2vh;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 1em;
}