@font-face {
    font-family: Montserrat-Bold;
    src:url("fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserrat-Regular;
    src:url("fonts/montserrat.regular.ttf");
}

.login-div{
    width: 35em;
    height: 42em;
    margin: auto;

    background: rgba(20, 20, 20, 0.9);
    border-radius: 30px;
}

.login-form {
    padding: 4em;
}

.box-logo {
    text-align: center;
}

.logos{
    width: 60%;
    height: 60%;
}
body{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(bg1.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.judul-form{
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #F7971D;
    padding-left: 1em;
}

.sign-up {
    margin-top: 6em;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 0.9em;
}

.sign-in {
    text-align: center;
    font-family: Montserrat-Bold;
}

.signin-btn{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 7.5em;
    padding-right: 7.5em;
    background: #F7971D;
    border-radius: 2em;
}

.signin-font{
    text-align: center;
    font-family: Montserrat-Bold;
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.register-btn {
    color: #F7971D;
    text-decoration: none;
}

.input-login {
    opacity: 0.5;
    color: #FFFFFF;
    background: rgba(20, 20, 20, 0.9);
    border-bottom: #FFFFFF 1px;
    border-top: rgba(20, 20, 20, 0.9);
    border-left: rgba(20, 20, 20, 0.9);
    border-right: rgba(20, 20, 20, 0.9);
    width: 32em;
    height: 3em;
}